<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<record model="ir.ui.menu" id="purchase.menu_purchase_rfq">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="purchase.menu_procurement_partner_contact_form">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="purchase.menu_purchase_control">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.purchase_report">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="purchase.menu_purchase_config">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="purchase.menu_procurement_management">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem name="Purchases"
            id="base.menu_purchase_root"
            action="purchase.purchase_form_action"
            groups="purchase.group_purchase_manager,purchase.group_purchase_user"
            icon="fa-shopping-cart"
            web_icon="purchase,static/description/icon.png"
            sequence="25"/>
            
        <menuitem id="purchase.menu_purchase_general_settings" name="Purchase Settings" parent="green_erp_ict_base.menu_settings"
            sequence="20" action="purchase.action_purchase_configuration"/>
            
    </data>
</openerp>