<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
	  	<record model="ir.ui.menu" id="sales_team.menu_sales_team_act">
			<field name="active" eval="False"/>
		</record> 
		
		<record model="ir.ui.menu" id="sale.menu_sale_quotations">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="sale.menu_sale_invoicing">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_sale_report">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_sale_config">
			<field name="active" eval="False"/>
		</record> 
		<record model="ir.ui.menu" id="product.menu_product_template_action">
			<field name="active" eval="True"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_sales">
			<field name="active" eval="False"/>
		</record> 
		<menuitem name="Sales"
            id="sale.menu_base_partner"
            action="sale.action_orders"
            groups="base.group_sale_salesman"
            sequence="6"/>
		
    </data>
</openerp>
	