<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<record model="ir.ui.menu" id="account.menu_account_customer">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_account_supplier">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_entries">
			<field name="active" eval="True"/>
		</record>
		<menuitem id="account.menu_finance_entries" name="Accounting" parent="green_erp_ict_base.menu_danhmuc_dungchung" sequence="10"/>
		<record model="ir.ui.menu" id="account.menu_finance_reports">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="account.menu_finance_configuration">
			<field name="active" eval="False"/>
		</record>		
		<record model="ir.ui.menu" id="account.menu_board_journal_1">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem id="account.menu_account_config" name="Accounting Settings" parent="green_erp_ict_base.menu_settings"
            sequence="40" action="account.action_account_config"/>
		
		<record model="ir.ui.menu" id="account.menu_account_config">
			<field name="groups_id" eval="[(6,0,[])]"/>
		</record>
		
		<menuitem action="account.action_tax_form" id="account.menu_action_tax_form" parent="account.menu_finance_entries" sequence="25"/>
		
		<menuitem
            action="account.action_account_fiscal_position_form"
            id="account.menu_action_account_fiscal_position_form"
            parent="account.menu_finance_entries" sequence="30"/>
            
        <menuitem action="account.action_account_journal_form"
        	id="account.menu_action_account_journal_form"
        	parent="account.menu_finance_entries" sequence="35"/>
        	
       	<menuitem action="account.action_payment_term_form"
            id="account.menu_action_payment_term_form" parent="account.menu_finance_entries" sequence="40"/>
		
    </data>
</openerp>	