<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="menu_root_baocao"
			name="Báo Cáo" sequence="6"/>
			
			<menuitem id="menu_danhsach_congno"
				name="Danh sách công nợ"
				parent="menu_root_baocao" sequence="10"/>
				
				<menuitem id="menu_action_no_doanh_thu_report"
					name="DS Nợ doanh thu"
					action="action_no_doanh_thu_report"
					parent="menu_danhsach_congno" sequence="10"/>
	</data>
</openerp>