<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<menuitem id="cauhinh_root"
			name="Cấu hình" sequence="175"/>
			
			<menuitem id="menu_danh_muc"
				name="Danh mục"
				parent="cauhinh_root" sequence="10"/>
				
				<menuitem id="menu_action_tinh_tp"
					action="action_tinh_tp"
					name="Tỉnh/Thành phố"
					parent="menu_danh_muc" sequence="10"/>

				<menuitem id="menu_dai_ly_action"
					action="dai_ly_action"
					name="Đại lý"
					parent="menu_danh_muc" sequence="12"/>
				
				<menuitem id="base.menu_partner_form" parent="menu_danh_muc" 
					action="base.action_partner_form" sequence="13"/>

				<menuitem id="menu_action_khu_vuc"
					action="action_khu_vuc"
					name="Điểm trả ế"
					parent="menu_danh_muc" sequence="15"/>

					
  				<menuitem id="menu_action_loai_ve"
					action="action_loai_ve"
					name="Loại vé"
					parent="menu_danh_muc" sequence="16"/>
					
				<menuitem id="menu_action_ky_ve"
					action="action_ky_ve"
					name="Kỳ vé"
					parent="menu_danh_muc" sequence="20"/>
					
				<menuitem id="menu_action_loai_hinh"
					action="action_loai_hinh"
					name="Loại hình"
					parent="menu_danh_muc" sequence="25"/>
					
    </data>	
</openerp>