<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
		<record model="ir.ui.menu" id="mail.menu_contacts">
			<field name="active" eval="False"/>
		</record>
		
		<menuitem name="Configuration"
			id="menu_danhmuc_dungchung"
			sequence="45"/>
			
		<menuitem name="Contacts"
			id="menu_danhmuc"
			parent="menu_danhmuc_dungchung"
			sequence="1"/>
			
		<menuitem name="Customers"
			id="base.menu_partner_form"
			action="base.action_partner_form"
			parent="menu_danhmuc"
			sequence="5"/>
			
		<menuitem name="Vendors"
			id="base.menu_procurement_management_supplier_name"
			action="base.action_partner_supplier_form"
			parent="menu_danhmuc"
			sequence="10"/>
		
		<menuitem name="Products"
			id="menu_sanpham"
			parent="menu_danhmuc_dungchung"
			sequence="3"/>

		<menuitem name="Products"
			id="product.menu_product_template_action"
			action="product.product_template_action"
			parent="menu_sanpham"
			sequence="20"/>
			
		<menuitem name="Product Categories"
			id="product.menu_product_category_action_form"
			action="product.product_category_action_form"
			parent="menu_sanpham"
			sequence="15"/>
			
		<menuitem name="Unit of Measure"
			id="menu_donvitinh"
			parent="menu_danhmuc_dungchung"
			sequence="5"/>
			
		<menuitem name="Unit of Measure Categories"
			id="product.menu_product_uom_categ_form_action"
			action="product.product_uom_categ_form_action"
			parent="menu_donvitinh"
			sequence="25"/>		
			
		<menuitem name="Units of Measure"
			id="product.menu_product_uom_form_action"
			action="product.product_uom_form_action"
			parent="menu_donvitinh"
			sequence="30"/>
		<record model="ir.ui.menu" id="product.menu_product_category_action_form">
			<field name="groups_id" eval="[(6,0,[])]"/>
		</record>
		<record model="ir.ui.menu" id="product.menu_product_uom_categ_form_action">
			<field name="groups_id" eval="[(6,0,[])]"/>
		</record>
		<record model="ir.ui.menu" id="product.menu_product_uom_form_action">
			<field name="groups_id" eval="[(6,0,[])]"/>
		</record>
		
		<menuitem name="Settings"
			id="menu_settings"
			parent="menu_danhmuc_dungchung"
			sequence="500"/>
		
		<menuitem id="base.menu_sale_general_settings" name="Sale Settings" parent="menu_settings"
            sequence="10" action="base_setup.action_sale_config"/>
		
    </data>
</openerp>